<ion-content>
  <ion-accordion-group [multiple]="true">
    <ion-accordion value="patch-info">
      <ion-item slot="header" color="light">
        <ion-label>É possível atualizar os times?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
        O Elifoot 98 conta uma comunidade bastante ativa. É possível baixar patches com times atualizados e campeonatos especiais, como o Campeonato Brasileiro, Copa do Mundo, entre outros. <br>
        Esses patches podem ser encontrados em sites especializados, como os dos nossos amigos do <strong><a href="https://turboelifoot.com" target="_blank">Turbo Elifoot</a></strong>. <br>
        <p class="ion-padding-top">
        Há ainda a opção de editar manualmente as equipes com o editor de times integrado do Elifoot 98, que permite a atualização dos elencos, para fazê-lo, saia do jogo, e ainda no emulador, abra o <strong>Program Manager > File Manager</strong>, navegue até a pasta <strong>D:\eli98</strong> e abra o programa <strong>editeq.exe</strong>. <br>
        Após salvar as edições, não se esqueça de salvar a máquina virtual pelo menu <strong>Auto-Save</strong> > <strong>Salvar Máquina Virtual <ion-icon name="save"></ion-icon></strong>. 
        </p>
      </div>
    </ion-accordion>
    <ion-accordion value="save-info">
      <ion-item slot="header" color="light">
        <ion-label>Meus jogos ficam gravados de uma jogatina para outra?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        O jogo é salvo automaticamente no armazenamento local do navegador. Porém, esses dados podem ser perdidos caso você limpe o armazenamento do navegador, use ferramentas como CCleaner, ative a navegação anônima ou em algumas situações de atualização do navegador.
        <br>
        <p class="ion-padding-top">
        Para evitar a perda de dados, recomendamos que você faça backups regularmente. É possível baixar seus jogos salvos acessando o menu <strong>Dados e Backups</strong> > <strong>Baixar Jogos Salvos</strong>.
        </p>
      </div>
    </ion-accordion>
    <ion-accordion value="mouse-info">
      <ion-item slot="header" color="light">
        <ion-label>Como funciona os controles de mouse?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        No computador, o mouse é automaticamente capturado pelo emulador ao clicar na tela do jogo. Para liberar o mouse, basta pressionar a tecla <strong>ESC</strong>.
        <br>
        <p class="ion-padding-top">Em celulares, você pode mover o cursor deslizando o dedo na tela, como se ela fosse um touchpad de notebook.</p>
      </div>
    </ion-accordion>
    <ion-accordion value="keyboard-info">
      <ion-item slot="header" color="light">
        <ion-label>Como funciona o teclado?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        No computador, o teclado pode ser utilizado normalmente, embora algumas letras acentuadas possam apresentar problemas devido a limitações do emulador.
        <br>
        <p class="ion-padding-top">
        Em celulares, há duas formas de entrada de texto: <br>
        <ol class="ion-padding-start">
          <li>- Utilizando o teclado virtual, que pode ser aberto e fechado ao clicar no botão de teclado <ion-icon slot="icon-only" src="../../assets/icon/keyboard.svg"></ion-icon> localizado na parte superior da tela.</li>
          <li>- Utilizando o teclado do celular para enviar um texto, acessando a opção no menu ou clicando no botão de input <ion-icon name="terminal-outline"></ion-icon> também na parte superior da tela.</li>
        </ol>
      </div>
    </ion-accordion>
    <ion-accordion value="joystick-fab-info">
      <ion-item slot="header" color="light">
        <ion-label>O que são esses botões redondos com um joystick <ion-icon name="game-controller"></ion-icon> na parte inferior?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Esses botões são ferramentas auxiliares que facilitam ações importantes no jogo, 
        como selecionar táticas, inserir textos, usar as setas direcionais <ion-icon name="caret-back-outline"></ion-icon> <ion-icon name="caret-up-outline"></ion-icon> <ion-icon name="caret-forward-outline"></ion-icon> <ion-icon name="caret-down-outline"></ion-icon>
        e confirmar com o botão enter <ion-icon name="return-down-back-outline"></ion-icon>. 
      </div>
    </ion-accordion>
    <ion-accordion value="copyright-info">
      <ion-item slot="header" color="light">
        <ion-label>Não é pirataria jogar dessa forma?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Jogar e compartilhar o Elifoot 98 é completamente legal. O jogo foi originalmente lançado como shareware, permitindo sua distribuição de forma livre e gratuita. <br>
        Isso significa que você pode jogá-lo e compartilhá-lo sem problemas, desde que a cópia distribuída não inclua o registro ou seja vendida por terceiros sem a autorização do detentor dos direitos.
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
