<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="toggleKeyboard()">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Teclado
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="saveGame()">
        <ion-icon slot="end" name="save-outline"></ion-icon>
        Salvar Progresso
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div [ngClass]="{ hidden: isHidden, full: !isHidden }" id="game-container"></div>
</ion-content>
