.page-background {
    background-color: var(--ion-color-primary, #008000);
}

.full {
    position: relative;
    width: 100%;
    height: 100%;
}

.join-game-card {
    width: 40%;
    min-width: 200px;
    max-width: 500px;
    height: 30%;
    min-height: 180px;
    max-height: 200px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#stream-target {
    cursor: none;
    width: 100%;
    border-radius: 8px;
    background: #224422
}