<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Multiplayer</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="showParticipants()">
        <ion-icon name="people-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary" class="page-background ion-align-items-center ion-justify-content-center">

  <!-- Join button -->
  <div *ngIf="gameState === GuestGameState.NOT_IN_ROOM" class="card-container ion-padding ion-text-center">
    <ion-card class="join-game-card">
      <ion-card-content class="ion-text-center">
        <ion-button (click)="promptJoinInfo()">
          Entrar em um jogo Multiplayer
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Error Container -->
  <ion-card *ngIf="joinError">
    <ion-card-content color="danger">{{ joinError }}</ion-card-content>
  </ion-card>
  
  <!-- Game stream -->
  <div [ngClass]="{'ion-hide': gameState !== GuestGameState.IN_ROOM }" class="ion-padding full">
    <div id="cursors-overlay" class="pointer-overlay"></div>
    <video id="stream-target" autoplay playsinline style="width:100%; border-radius:8px; background:#222;"
      (mousemove)="onPointerMove($event)" (touchmove)="onPointerMove($event)"></video>
    <!-- You can add a canvas or overlay here for remote cursors -->
  </div>


</ion-content>

<!-- Video stream binding logic -->
<script>
  // This script block is for illustration. In Angular, use ngAfterViewInit in the TS file to bind hostStream to the video element.
</script>
