/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.emulator-options {
    display: none;
}

.alert-whitespace {
    white-space: pre-line;
}

.alert-danger {
    color: var(--ion-color-danger, #f04124) !important;
}

.wide-alert .alert-wrapper {
    width: 80% !important;
    max-width: 800px !important;
}

ion-popover.menu-popover {
    --max-width: 90%;
    --width: 280px;
}

.smooth-canvas {
    image-rendering: auto !important;
}

.not-selectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 2;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.pointer-overlay-cursor-label {
    background: #fff;
    padding: 2px;
    border-radius: 8px;
    margin: 4px 2px;
    color: black;
    font-weight: bold;
    font-family: monospace;
    opacity: 0.35;
}

.cursor-click-ping {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    mix-blend-mode: screen;
    pointer-events: none;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1);
} 

@media screen and (max-width: 599px), screen and (max-height: 700px) {
    .hidden-mob {
      display: none;
    }
}

// hidden-mob-portrait is used to hide elements on mobile devices in portrait mode
@media screen and (max-width: 599px) and (orientation: portrait) {
    .hidden-mob-portrait {
        display: none;
    }
}

// hidden-mob-landscape is used to hide elements on mobile devices in landscape mode
@media screen and (max-height: 599px) and (orientation: landscape) {
    .hidden-mob-landscape {
        display: none;
    }
}

// this height value is only used on modal presentation mode (desktop (min-width: 768px))
@media screen and (min-width: 768px) {
    .omatic-modal {
        --height: 480px;
    }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(8);
    opacity: 0;
  }
}