<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Eli98kg3.exe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">EliKG98.exe</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card id="central-card">
      <ion-card-header color="tertiary">
        <ion-card-title color="tertiary"><ion-text color="light">Gerador de Contra-Senha</ion-text></ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="contraSenha.length === 0" color="light">
        <ion-item>
          <ion-input class="ion-margin-top" 
         
          [(ngModel)]="senha" 
          label="Senha" 
          labelPlacement="stacked" 
          type="tel" 
          placeholder="xxx-xxx-xxx-xxx-xxx-xxx"
          [maskito]="senhaMask"
          [maskitoElement]="maskPredicate"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select [(ngModel)]="regType" aria-label="tipo de registro" label="Tipo de Registro" labelPlacement="stacked" interface="popover" multiple="false" placeholder="selecione...">
            <ion-select-option *ngFor="let reg of tipoRegistro" [value]="reg">{{reg.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button [disabled]="!canGenerateKey" class="ion-margin-top" color="primary" (click)="gerarContraSenha()" expand="full">
          Gerar Contra-Senha
        </ion-button>
      </ion-card-content>

      <ion-card-content *ngIf="contraSenha.length !== 0" color="light">
        <h1>Senha: </h1> <h2>{{senha}}</h2>
        <h1>ContraSenha:</h1>
        <h2><strong>{{contraSenha}}</strong></h2>
        <ion-button class="ion-margin-top" color="primary" (click)="reloadApp()" expand="block">
          Gerar nova contra-senha
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-card-subtitle class="ion-padding">Feito nas pressas, na terra dos altos coqueiros</ion-card-subtitle>
  </ion-toolbar>
</ion-footer>
